{% extends 'account/base.html'  %}
{% load static %}

{% load account socialaccount %}

{% block head_title %}وارد شوید{% endblock %}

{% block content %}


<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">

      {% if form.errors %}
        {% for error in form.non_field_errors %}
          <strong style="color:red; font-size:14px; float: right; text-align:right; ">
            {% if error == "The username and/or password you specified are not correct."  %}
              رمز عبور یا ایمیلی که وارد کردید اشتباه است
            {% endif %}
          </strong>
        {% endfor %}
      {% endif %}

      <form class="login100-form validate-form" method="POST" action="." style="margin-top:20%;">
        {% csrf_token %}
        <span class="login100-form-title p-b-26" >
          وارد شوید
        </span>

        {{form.as_p}}
        {% csrf_token %}
        <div style="margin-top:20%;" class="">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" type="submit">
              ورود
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}
