{% extends "customers_base.html" %}


{% block content2 %}
  <h4 style="text-align:right; margin-top:30px;">عوض کردن رمز عبور</h4>

    <div class="">

      <form style="margin-top:10px;" method="POST" action="{% url 'account_change_password' %}" class="password_change">
          {% csrf_token %}
          <p style="text-align:right;">{{ form.oldpassword }} : رمز عبور فعلی خود را وارد کنید</p>
          <p style="text-align:right;">{{ form.password1 }} : رمز عبور جدید خود را وارد کنید </p>
          <p style="text-align:right;">{{ form.password2 }} : رمز عبور جدید خود را تکرار کنید</p>
          <p style="text-align:right;">
            <button class="btn btn-dark" type="submit" name="action">عوض کردن رمزعبور</button>
          </p>
      </form>
    </div>

{% endblock %}
