
<h1>{{module.title}}</h1>

<h3>Modules</h3>
<ul>

  {% for m in object.modules.all %}
    <li data-id='{{ m.id }}' >
      <a href="{% url 'students:student_course_detail_module' pk=object.id module_id=m.id %}">
        <span>
            Module <span>{{ m.order|add:1 }}</span>
        </span>
        <br>
        {{ m.title }}
      </a>
    </li>
  {% empty %}
    <li>No module yet.</li>
  {% endfor %}
</ul>

<div class="">
    {% for content in module.contents.all %}
      {% with item=content.item %}
        <h2>{{ item.title }}</h2>
        {{ item.render }}
      {% endwith %}
    {% endfor %}
</div>
